body {
	background-color: #000000;
	color: #0a7607;
	text-align: center;
}
h1 {
    font-family: 'Cutive Mono', monospace;
	font-size: 64px;
	font-weight: bold;
}
hr {
	color: #0a7607;
	width: 60%;
}
#logo {
	width: 150px;
	height: 150px;
}
#main {
	width: 80%;
	/*background-color: #ffffff;*/
	text-align: left;
	margin-left: auto ;
  	margin-right: auto ;
}
#left {
	width: 70%;
	float: left;
}
#right {
	width: 20%;
	float: left;
}
h2 {
	text-align: center;
}
.question {
	background-color: #424040;
}
.question:hover {
	background-color: #989898;
}
.answer {
	display: none;
	background-color: #000000;
}